SHOP_API_URL=https://mottameister-services-api.mottameister.xyz
SHOP_SITE_URL=https://mottameister.xyz
SHOP_DELIVERY_SECRET=cole_o_mesmo_valor_da_vercel_aqui
SHOP_DRY_RUN=true
SHOP_WORKER_POLL_MS=15000
SHOP_WORKER_ID=coruja-main
SHOP_LEADERBOARD_ENABLED=true
SHOP_LEADERBOARD_POLL_MS=600000
SHOP_LEADERBOARD_COMMAND=cobbledollars leaderboard
SHOP_SHINY_EGG_POOL=trapinch,skrelp,axew,horsea,sprigatito,fuecoco,quaxly
SHOP_SHINY_EGG_COMMAND_TEMPLATE=givepokemonegg {nick} {species} shiny=yes
SHOP_LUCKPERMS_PLUS_GROUP=coruja_plus
SHOP_LUCKPERMS_PLUS_PLUS_GROUP=coruja_plus_plus
SHOP_LUCKPERMS_COMMAND_TEMPLATE=lp user {nick} parent addtemp {group} {days}d
RCON_HOST=127.0.0.1
RCON_PORT=25575
RCON_PASSWORD=senha_do_rcon_do_server_properties
RCON_TIMEOUT_MS=10000
